[% INCLUDE header.tt
    title = "Card View - $card.getName"
 %]

    <div class="main">
      Main view for cards.

      <h3>Cards tagged "needs_tag_review"</h3>
      <ul>
[% FOREACH card IN cards %]
        <li><a href="/card/view?cardid=[% card.getId() %]">[% card.getName() %]</a></li>
[% END %]
      </ul>
    </div>

[% INCLUDE footer.tt %]
