    <div class="footer">
Some elements &copy; 1995 - 2012 Wizards of the Coast LLC, a subsidiary of Hasbro, Inc.<br/>
Copyright 2012 Jason Crickmer. All Rights Reserved.
    </div>
    </div>
  </body>
</html>
