<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
  <head>
    <title>MTGStats - [% title %]</title>
    <link type="text/css" rel="stylesheet" media="screen" href="/style.css" />
  </head>
  <body>
    <div id="wholepage">
    <div class="header">
      <h1>MTG Stats - [% title %]</h1>
    </div>
    <div class="globalnav">
      <ul>
        <li><a href="/deck/">Decks</a></li>
        <li><a href="/card/">Cards</a></li>
      </ul>
    </div>
