[% INCLUDE header.tt
    title = 'Deck List',
 %]

    <div class="main">
      <ul>
[%  FOREACH deck IN decks %]
        <li><a href="view?deckid=[% deck.getId() %]">[% deck.name %]</a> [% deck.cardCount("main") %] </li>
[%  END %]
      </ul>
    </div>

[% INCLUDE footer.tt %]
