[% INCLUDE header.tt
    title = 'Deck View',
 %]

    <div class="main">
deck view - [% deck.name %]

	  <ul>
[% FOREACH card IN deck.cards %]
<li>[% card.getName %]</li>
[% END %]
      </ul>
	</div>

[% INCLUDE footer.tt %]
