body {
	background-color: white;
	font-family: helvetica,arial,sans-serif;
	font-size: 10pt;
}

div, td, p, span, th {
	font-family: helvetica,arial,sans-serif;
	font-size: 10pt;
}
div.footer {
	clear: both;
	font-size: 9pt;
	margin-top: 20px;
	padding-top:5px;
	border-top: solid 1px #c0c0c0;
}

div.header {
}

div.globalnav {
border-top: solid 1px #c0c0c0;
border-bottom: solid 1px #c0c0c0;
}
div.globalnav > ul li {
    display: inline
}
div.globalnav > ul > li {
    padding-left: 15px;
}

div.card_details > img.card_image {
	float: left;
	margin-right: 5px;
	padding-right: 5px;
}

#tags_container {
    width: 400px;
}
td.probability {
	text-align: right;
}
#wholepage {
	width:980px;
}


table.card_details {
    border: 1px solid #000000;
	border-collapse: separate;
	border-spacing: 10px;

}
table.card_details td {
    padding: 8px 8px;
	background-color: #e0e0e0;
}
